

<h3>
  Help Information <br>
  <small class="text-muted">Look Below for a Simple Usage Guide</small>
</h3>

<hr>

<h4> Searching For Data Sources </h4>
    <ol>
     <li> Search for data source in the search bar above. </li>
     <li> <strong>Exact </strong> table names will be highlighted for your conveience. </li>
    </ol>

<h4> Adding Data Sources </h4>
    <text class="text-muted">Adding a data source with the same name will overwrite the previous data source description but will not overwrite parent child relationships.</text>

    <ol>
     <li> <button class="btn btn-primary"> Add Data Source </button> near the top of the page below the search bar. </li>
     <li> Alternatively you can upload json data sources in node link format using the "Upload JSON File" section on the right. </li>
    </ol>

<h4 class ="pt-3"> Modifying Data Sources </h4>
    Use <button class="btn btn-sm btn-warning"> edit </button> button found on a data source.

<h4 class ="pt-3"> Deleting Data Sources </h4>
    Use <button class="btn btn-sm btn-danger">X</button> button found on a data source.

<h4 class ="pt-3"> Viewing Relationships </h4>
   Use <button class="btn btn-sm btn-info"> Relationships </button> found on a data source.
   <br> This will take you to the relationships page. 
   On this page select one of the following to pull up the appropriate relationships. 
   

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                
                <label 
                    id="parents-radio-button" 
                    class="btn btn-secondary"
                >
                    <input type="radio" name="options" id="option1" autocomplete="off" > Parents
                </label>
                <label
                    id="children-radio-button" 
                    class="btn btn-secondary"
                                    >
                
                    <input type="radio" name="options" id="option2" autocomplete="off" > Children
                </label>
            </div>

            

<h4 class ="pt-3"> Modifying Relationships </h4>
Drag between the two lists to add or remove Children or Parents. 
Updates are done immediately. 




