<!doctype html>

<html lang="en">
    
    <head>
        <!-- Meta Info -->
        <meta name="description" content="Data Dictionary ">
        <meta name="author" content="Ryan Francis">
        <meta charset="utf-8">
        
        <title>Cascade Data Labs - Data Dictionary</title>
        
        <!-- Javascript -->
        <script src="static/functions.js"></script>  
        
        <!-- Ryan CSS -->
        <link rel="stylesheet" href="static/ryan_css.css">
        
        
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.4.0"></script> 
        
        <!-- Bootstrap Required -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        


    </head>

<body class= "container" >



    
    <div class="container py-5 ">
    
        <h1 class="d-flex align-items-center justify-content-center"> Data Dictionary </h1>
    

        <h3> <!-- Shows searching image -->
          <span class="htmx-indicator"> 
            <img src="/static/bars.svg"/> Searching... 
           </span> 
        </h3>
        
        <!-- Search BOX -->
        <div>
            <input class="form-control ring-blue focus:ring-blue-600 " type="text" 
                   name="search_text" placeholder="Begin Typing To Search Tables..." 
                   hx-post="/search" 
                   hx-trigger="keyup changed delay:500ms" 
                   hx-target="#page-contents" 
                   hx-indicator=".htmx-indicator"
                   id="search_bar">
        </div>
    


        
        <div class="form-inline align-items-end d-flex mt-3">
            <!-- Add a New Table Button-->
            <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#modal"
                    onClick= "add_node_button()">
            Add Data Source
            </button>
            
            <!-- Search All Results -->
            <button type="button" class="btn btn-primary mr-1"
            hx-post="/search"
            hx-trigger="click delay:200ms"
            hx-target="#page-contents" 
            hx-indicator=".htmx-indicator"
            onClick()="clear_search_bar_text()">
            Show All Data Sources
            </button>
            
            <button type="button" class="btn btn-info mr-auto"
            hx-get="/get_help"
            hx-trigger="click"
            hx-target="#page-contents" 
            hx-indicator=".htmx-indicator"
            >
                Need Help?
            </button>
            
            
            <form id="file_upload" class ="p-2 bd-highlight"  hx-encoding='multipart/form-data' hx-post='/upload'>
                <label class="form-label mr-1 form-text text-muted" for="customFile">Upload JSON File
                <progress class="ml-2" id='progress' value='0' max='100'></progress>
                </label>
                <input type="file" name="file" class="form-control" id="customFile" />
                <input type="submit" value="Submit" class="btn btn-info">
            
            
            
            <script>
                htmx.on('#form', 'htmx:xhr:progress', function(evt) {
                  htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
                });
            </script>
            
            
            </form>
            
            
        

            

	
        </div>

    </div>


    <!-- Page Content-->
    
    <div id="page-contents"> 
    
    </div>
    



    <!-- Add New Table Modal -->
    <div class="modal fade" id="modal">
    
    
        <div class="modal-dialog" role="document">
            <div class="modal-content">
        
                <!-- Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title"> Add Table</h5>
                    <button type="button" class="close" data-dismiss="modal">
                      <span>&times;</span>
                    </button>
                </div>
            
                <!-- Form -->
                <div class="modal-body">
                
                <form>
                    <div class="form-group">
                        <label for="node_name">Table Name</label>
                        <input class="form-control" type="text" name="name" id="node_name" placeholder="Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="node_description">Table Description</label>
                        <input class="form-control" type="text" name="description" id="node_description" placeholder="Description">
                    </div>  
                </form> 
                
                </div>
    
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="add_node()">Confirm</button>
                </div>
            </div>
        </div>
    </div>



     <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Popper.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap.js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- bootbox-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"> </script>
    <!-- Sortable Lists -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
</body>
</html>

