<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Cascade Data Labs - Data Dictionary</title>
  
  
  <meta name="description" content="Data Dictionary ">
  <meta name="author" content="Ryan Francis">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
   <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <h1> Welcome to the Data Dictionary </h1>
  
  
  
</body>
</html>
